@import "../../scss/_variables";
@import "../../scss/_mixins";

.pokemondetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $unit-6;

  font-size: $font-size-14;

  @include mq($bp-medium) {
    //650px
    font-size: $font-size-16;
  }

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &--name {
      text-transform: capitalize;
    }
  }

  &--image {
    display: flex;
    justify-content: center;

    padding-bottom: $unit-24;

    & > img {
      width: 45%;
    }
  }

  &--info {
    display: flex;
    flex-direction: column;
    width: 100%;

    &--data {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding-bottom: $unit-12;
    }
  }
}
