@import "../../scss/_variables";

.screen-single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  margin: $unit-12;
  padding: $unit-12;

  background-color: $color-skyblue;
  border-radius: 6px;
  flex-grow: 1;

  overflow-y: auto;
}
