@import "../../scss/_variables";
@import "../../scss/_mixins";

.input-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

input[type="text"] {
  height: 3.8rem;
  width: 100%;
  padding: $unit-12;

  border: solid 0.2rem $color-red-dark;
  border-radius: 6px;
  background-color: $color-grey-light;
  color: $color-black;
  font-family: $font-machine;
  font-size: $font-size-16;

  &:focus {
    border: 0.1rem solid $color-white;
  }

  &:focus-visible {
    outline: none;
  }
}

input[type="text"]::placeholder {
  color: $color-grey;
  font-family: $font-machine;
  font-size: $font-size-16;
}
