/*---encabezados---*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-screen;
  font-size: $font-size-20;
  color: $color-black-dark;
  margin: 0;

  // @include mq ($bp-small-tablet) { //576px
  //     font-size: $font-size-l;
  // }

  // @include mq ($bp-small-desktop) { //1024px
  //     font-size: $font-size-xl;
  // }

  // @include mq ($bp-desktop) {
  //     font-size: $font-size-xxl;
  // }
}

/*---parrafos---*/

p.font-size-14 {
  font-family: $font-screen;
  font-size: $font-size-14;
  color: $color-black-dark;
  margin: 0;

  // @include mq ($bp-small-desktop) { //1024px
  //     font-size: $font-size-16;
  // }
}
