@import "../../scss/_variables";

.topbar {
  display: flex;
  gap: $unit-10;

  background-color: $color-red;
  padding: $unit-12;
  border-bottom: 1rem solid $color-red-dark;
}

.camera {
  background-color: $color-pure-white;
  border-radius: 100%;
  height: 7rem;
  width: 7rem;
  padding: 0.7rem;

  // box-shadow: -0.2rem 0.1rem $color-transparent;

  &-glass {
    background-color: $color-skyblue;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    position: relative;

    &-reflex {
      background-color: $color-transparent;
      border-radius: 100%;
      height: 2rem;
      width: 1.2rem;
      transform: rotate(45deg);
      position: absolute;
      left: 1.2rem;
      top: 0.8rem;
    }
  }
}

.lights {
  display: flex;
  gap: $unit-10;
  padding: $unit-10;

  .light:first-child {
    background-color: $color-fuchsia;
    // box-shadow: -0.1rem 0.05rem $color-transparent;
  }

  .light:nth-child(2) {
    background-color: $color-yellow;
    // box-shadow: -0.1rem 0.05rem $color-transparent;
  }

  .light:nth-child(3) {
    background-color: $color-green;
    // box-shadow: -0.1rem 0.05rem $color-transparent;
  }
}

.light {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 100%;
  position: relative;

  &-reflex {
    background-color: $color-transparent;
    height: 0.8rem;
    width: 0.5rem;
    border-radius: 100%;
    transform: rotate(45deg);
    position: absolute;
    left: 0.5rem;
    top: 0.4rem;
  }
}
