@import "../../scss/_variables";
@import "../../scss/_mixins";

.cardmini {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $color-skyblue-light;
  border-radius: 3px;

  font-size: $font-size-14;

  padding: $unit-6;

  @include mq($bp-medium) {
    //650px
    font-size: $font-size-16;
  }

  &--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &--image {
    display: flex;
    justify-content: center;

    & > img {
      width: 40%;
    }
  }

  &--name {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
