@import "../../scss/_variables";
@import "../../scss/_mixins";
@import "../../scss/_functions";

.icon {
  margin: $unit-12;

  &__position-absolute {
    position: absolute;
    right: 0;
  }

  cursor: pointer;
  &-size--small {
    @include icon($w-small, $h-small);
  }
  @include mq($bp-medium) {
    @include icon($w-medium, $h-medium);
  }

  &:hover {
    color: $color-black-dark;
  }
}
