@import "../../scss/_variables";
@import "../../scss/_mixins";
@import "../../scss/_functions";

.icon {
  &__position-absolute {
    margin: $unit-12;
    position: absolute;
    right: 0;
  }

  cursor: pointer;

  &-size--variable {
    @include icon($w-medium, $h-medium);
  }

  @media only screen and (min-width: 32rem) and (max-width: 40rem) {
    @include icon($w-large, $h-large);
  }

  @include mq($bp-medium) {
    @include icon($w-medium, $h-medium);
  }

  @include mq($bp-large) {
    @include icon($w-large, $h-large);
  }

  &-size--fixed {
    @include icon($w-medium, $h-medium);
  }

  &:hover {
    color: $color-black-dark;
  }
}
