/*-----TAMAÑOS ICONOS----*/

$w-small: 2rem;
$w-medium: 2.5rem;
$w-large: 3rem;

$h-small: 2rem;
$h-medium: 2.5rem;
$h-large: 3rem;

@mixin icon($width, $height) {
  width: $width;
  height: $height;
}

// Ejemplo de uso:
// .icon {
//   @include icon($w-medium, $h-medium);
// }

/*-----MEDIA QUERIES-----*/

$bp-large: 90rem; //11440px
$bp-medium: 36rem; //576px
$bp-small: 22.5rem; //360px

@mixin mq($bp) {
  @media only screen and (min-width: $bp) {
    @content;
  }
}
