/*-----TAMAÑOS ICONOS----*/

$w-small: 1.5rem;
$w-medium: 2rem;
$w-large: 2.5rem;

$h-small: 1.5rem;
$h-medium: 2rem;
$h-large: 2.5rem;

@mixin icon($width, $height) {
  width: $width;
  height: $height;
}

// Ejemplo de uso:
// .icon {
//   @include icon($w-medium, $h-medium);
// }

/*-----MEDIA QUERIES-----*/

$bp-large: 51rem; //830px
$bp-medium: 40rem; //640px
$bp-sm: 32rem; //512px
$bp-small: 22.5rem; //360px

@mixin mq($bp) {
  @media only screen and (min-width: $bp) {
    @content;
  }
}
