.pokedex {
  display: flex;
  flex-direction: column;

  width: 100vw;
  max-width: 92rem;
  height: 100vh;
  max-height: 77rem;

  background-color: $color-red;

  &--main {
    display: flex;
    flex-direction: column;
  }

  &--screen {
    background-color: $color-white;
    height: 30rem;
    max-width: 48rem;
    width: 30rem;

    margin: $unit-48 $unit-24;
    // padding: $unit-12;
  }

  &--commands {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;

    &--btns {
      display: flex;
      flex-direction: column;
      gap: $unit-10;
    }
  }
}

@include mq($bp-small-desktop) {
  //1024px
  width: 18rem;
  height: 5.5rem;
  max-width: 27.5rem;

  font-size: $font-size-xxs; //16px
}
