.pokedex {
  display: flex;
  flex-direction: column;

  width: 100vw;
  max-width: 92rem;
  height: 100vh;
  // max-height: 77rem;

  background-color: $color-red;

  &--main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: $unit-24;

    @include mq($bp-medium) {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-gap: $unit-24;
    }
  }

  &--screen {
    background-color: $color-white;
    height: 30rem;
    width: 100%;
    max-width: 48rem;
    margin: 0 auto;

    @include mq($bp-medium) {
      width: 100%;
      height: 100%;
    }
  }

  &--commands {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;

    @include mq($bp-medium) {
      flex-direction: column;
    }

    &--btns {
      display: flex;
      flex-direction: column;
      gap: $unit-10;
      width: 100%;
      margin: $unit-24;
    }

    &--btncross {
      margin: $unit-24;
    }
  }

  &--footer {
    display: flex;
    justify-content: flex-end;

    font-family: $font-machine;
    font-size: $font-size-16;

    background-color: $color-red;
    color: $color-red-dark;
    padding: 0 $unit-12;
    border-top: 1rem solid $color-red-dark;
  }
}
