/*---encabezados---*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $font-screen;
  color: $color-black-dark;
  margin: 0;
}

/*---parrafos---*/

.p {
  font-family: $font-screen;
  font-size: $font-size-12;
  color: $color-black-dark;
  margin: 0;

  @include mq($bp-large) {
    //830px
    font-size: $font-size-14;
  }
}
